@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght,YOPQ@100..900,40..300&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *::before,
  *,
  *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

  html {
    font-size: 62.5%;
  }

  body {
    font-family: "Kumbh Sans", sans-serif;
    font-style: normal;
    font-size: 1.6rem;
    line-height: 1.5;
  }
}
